<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.app.users_redimed">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.app.users_redimed.TrackWaiting"></activity>
        <activity android:name="com.app.users_redimed.RequestSent" />
        <activity android:name="com.app.users_redimed.AddRequestAndTrack" />
        <activity android:name="com.app.users_redimed.LichSu2Activity" />
        <activity android:name="com.app.users_redimed.LichSu1Activity" />
        <activity android:name="com.app.users_redimed.Review" />
        <activity android:name="com.app.users_redimed.SignUpStep2" />
        <activity android:name="com.app.users_redimed.SignUpStep1" />
        <activity android:name="com.app.users_redimed.AddItem2" />
        <activity android:name="com.app.users_redimed.AddItem1" />
        <activity android:name="com.app.users_redimed.AddItem" />
        <activity android:name="com.app.users_redimed.RequestAdvice" />
        <activity android:name="com.app.users_redimed.Option" />
        <activity android:name="com.app.users_redimed.Login" />
        <activity android:name="com.app.users_redimed.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>